<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


     <style>



</style>
</head>

<body style="background-color:#e6ffff">

    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">

                        <h3 style="color:  #00ff00">Waste <i class='bx bx-trash'></i> Management</h3>

                <!-- if logo is image enable this
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                 <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mx-lg-auto">
                         <li class="nav-item">
                            <a class="nav-link" href="adminhome">Home </span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="adminviewuser">view user</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="addlocation">Add Location</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="viewlocation">View Location</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="viewbooking">View booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="viewdrivers">View drivers</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="viewservice">View services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="showcomplaints">Complaints</a>
                        </li>
                         <li class="nav-item active">
                            <a class="nav-link" href="admin_c_booking">cancelled Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="home">Log Out</a>
                        </li>

                    </ul>
                </div>
                <!-- search button -->

                            </label>
                    </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>

<!--<div class="container"style="background-color:#9494b8">-->
  <h2>Small Table</h2>
  <p>The .table-sm class makes the table smaller by cutting cell padding in half:</p>
    <div class="agilesign-form">
		{% if messages %}
<div class="container">
<div class="alert alert-success alert-dismissible messages">
    {% for message in messages %}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
     {{message}}
  </div>
     {% endfor %}

</div>
{% endif %}


<table class="table table-bordered table-sm">


    <thead>
        <tr>
            <th style="color:black">Booking_Id</th>
            <th style="color:black">Customer Name</th>
            <th style="color:black">Customer Email</th>
            <th style="color:black">Type</th>
            <th style="color:black">Price</th>
            <th style="color:black">Phone Number</th>
            <th style="color:black">Address</th>
            <th style="color:black">Date</th>
            <th style="color:black">Location</th>
            <th style="color:black">District</th>
            <th style="color:black">State</th>

            <th style="color:black">Landmark</th>
            <th style="color:black">Payment Status</th>
            <th style="color:black">Refund Action</th>
            <th style="color:black">Payment</th>
            <th style="color:black">Payment_status</th>

        </tr>
    </thead>
    <tbody>
    {% for booking in a %}
        <tr>
            <td style="color:black">{{ booking.id }}</td>
            <td style="color:black">{{ booking.name }}</td>
            <td style="color:black">{{ booking.email }}</td>
            <td style="color:black">{{ booking.type }}</td>
            <td style="color:black">{{ booking.totalprices }}</td>
            <td style="color:black">{{ booking.phonenumber }}</td>
            <td style="color:black">{{ booking.address }}</td>
            <td style="color:black">{{ booking.pickingdate }}</td>
            <td style="color:black">{{ booking.location }}</td>
            <td style="color:black">{{ booking.district }}</td>
            <td style="color:black">{{ booking.state }}</td>

            <td style="color:black">{{ booking.pickingpoint }}</td>
            <td style="color:black">{{ booking.payment_status }}</td>


<!--            <td class="text-success" style="color:black">{{ booking.w_confirm }}</td>-->
<!--            {% if booking.payment_status == "cash paid" %}-->
            <td>
                <!-- Form to update booking status -->
                <form method="POST" action="refund_status/{{booking.id}}">
                    {% csrf_token %}
                    <select name="status">
                        <option value="Pending" {% if booking.r_status == "Pending" %}selected{% endif %}>Pending</option>
                        <option value="Refund Initiated" {% if booking.r_status == "Refund Initiated" %}selected{% endif %}>Refund Initiated</option>
                    </select>
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </td>
            <td style="color:black"> <button type="button" class="btn btn-warning">
                            <a href="../refund_razorpay/{{ booking.totalprices }}/{{ booking.pk }}">Make Payment</a>
                        </button></td>

<!--            <td>-->
<!--                <a href="delet_b/{{booking.pk}}" id="deleteButton" class="btn btn-danger"><i class='bx bxs-trash'></i></a>-->
<!--            </td>-->

            <td>{{booking.refund_status}}</td>
<!--            {% endif %}-->
        </tr>
 {% endfor %}

    </tbody>
  </table>
</div>




    <script>
         document.getElementById('deleteButton').addEventListener('click', function() {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        )
      }
    })
  });





        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>