<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cancel bookings</title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <-----button-------->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>



</style>
</head>

<body style="background-color:  #e6ffff">

    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand" href="index">
                        <h3 style="color:  #00ff00">Waste <i class='bx bx-trash'></i> Management</h3>
                    </a>
                </h1>
                <!-- if logo is image enable this
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mx-lg-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="userhome">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="userabout">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="userservice">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="usercontact">Contact</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="userprofile">profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="u_booking">Bookings</a>
                        </li>
                         <li class="nav-item active">
                            <a class="nav-link" href="u_c_bookings">Cancelled Bookings</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="logout">Logout</a>
                        </li>

                    </ul>
                </div>
                <!-- search button -->

                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>

<!--<div class="container">-->
  <h2>Small Table</h2>
    <p></p>

    <h2>User Bookings</h2>
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Booking Id</th>
            <th>Customer Name</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Picking Date</th>
            <th>Location</th>
            <th>District</th>

            <th>State</th>
            <th>Landmark</th>
            <th> Payment Status</th>

            <th> Refund Status</th>
            <th>Payment</th>
        </tr>
    </thead>
    <tbody>
        {% for i in c %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.type }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.totalprices }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.phonenumber }}</td>
                <td>{{ i.pickingdate }}</td>
                <td>{{ i.location }}</td>
                <td>{{ i.district }}</td>
                <td>{{ i.state }}</td>

                <td>{{ i.pickingpoint }}</td>
                 <td>{{ i.payment_status }}</td>
                {% if i.payment_status == "cash paid" %}
                     <td>
                         {{ i.r_status }}
                     </td>
                       <td>{{i.refund_status}}
                       </td>
                {% endif %}


          </tr>
        {% endfor %}
    </tbody>
</table>

</div>


    <script>
         document.getElementById('deleteButton').addEventListener('click', function() {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        )
      }
    })
  });



        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>