<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>View Location</title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

     <style>



</style>
</head>

<body style="background-color:#9494b8">

    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand" href="index">
                        <h3 style="color:  #00ff00">Waste <i class='bx bx-trash'></i> Management</h3>
                    </a>
                </h1>
                <!-- if logo is image enable this
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mx-lg-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="adminhome">Home </span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="adminviewuser">view user</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="addlocation">Add Location</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="viewlocation">View Location</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="viewbooking">View booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="viewdrivers">View drivers</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="viewservice">View services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="showcomplaints">Complaints</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="admin_c_booking">cancelled Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="home">Log Out</a>
                        </li>

                    </ul>
                </div>
                <!-- search button -->

                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>

<div class="container">
  <h2>Small Table</h2>
  <p>The .table-sm class makes the table smaller by cutting cell padding in half:</p>
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th style="color:orange">Location<b></b></th>
        <th style="color:orange">District<b></b></th>
        <th style="color:orange">State<b></b></th>

        <th style="color:orange">Remove<b></b></th>
      </tr>
    </thead>
    <tbody>
    {% for i in a %}
      <tr>
        <td style="color:black">{{i.location}}</td>
          <td style="color:black">{{i.district}}</td>
          <td style="color:black">{{i.state}}</td>
          <td><button><a href="delet_l/{{i.id}}">delete</a></button></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>